@tailwind base;
@tailwind components;
@tailwind utilities;



  body {
    background: linear-gradient(-45deg, #3e3464,  #1b3f57, #372f74, #6b5dad);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    /* background-image: url("./Assets/1.gif"); */
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }